# Database (Neon PostgreSQL)
DATABASE_URL="postgresql://user:pass@ep-xxx.region.aws.neon.tech/neondb?sslmode=require"

# NextAuth
AUTH_SECRET=""              # openssl rand -base64 32
AUTH_URL="http://localhost:3000"

# Google Gemini (Embedding)
GOOGLE_GENERATIVE_AI_API_KEY=""

# Groq (LLM - Week 2)
GROQ_API_KEY=""
